/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html, button, input, select, textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio, canvas, img, video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important; }

*[tabindex]:focus {
  outline: none; }

html {
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll; }

body {
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  height: 100%;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 60px;
  color: #777; }

p {
  padding: 0;
  margin: 0; }

button {
  border: 0;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  background: transparent;
  padding: 0; }

button:focus, input:focus, textarea:focus {
  outline: 0; }

input[type="text"], input[type="number"], input[type="password"] {
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  border: none;
  height: 41px; }

.topbar {
  height: 60px;
  background: #295D23;
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10; }

a {
  text-decoration: none;
  color: #777;
  font-weight: 700; }

a:hover {
  color: #295D23; }

.topbar a {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 20px;
  position: relative;
  top: 5px;
  display: block; }

.topbar a:hover {
  color: rgba(255, 255, 255, 0.9); }

.topbar .logo-img {
  position: relative;
  top: 8px;
  height: 36px;
  opacity: 0.8; }

.topbar .logo-img:hover {
  opacity: 1; }

.bold {
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700; }

.bold-italic {
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: italic; }

.light {
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300; }

.light-italic {
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: italic; }

.page-container {
  width: 960px;
  margin: 0 auto;
  height: 100%; }

.asset-column {
  width: 280px;
  float: left;
  margin-right: 20px; }

.blogs-column {
  width: 320px;
  float: left;
  margin-right: 20px; }

.social-media-column {
  width: 320px;
  float: left; }

h1 {
  color: rgba(41, 93, 35, 0.6);
  margin: 0;
  font-size: 30px;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
  margin-left: 10px; }

.box {
  -webkit-transition: background-color 0.1s ease-out, box-shadow 0.1s ease-out;
          transition: background-color 0.1s ease-out, box-shadow 0.1s ease-out;
  background: #fff;
  padding: 15px 17px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); }

.box:hover {
  background: #f0f0f0;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); }

.box.active {
  background: #cceac8; }

.asset .box, .add-resource.box {
  height: 100px; }

.bg-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

.asset.box {
  padding-bottom: 10px; }

.asset .shortcode {
  font-size: 18px;
  color: #777;
  position: absolute;
  top: 15px;
  left: 17px;
  z-index: 20; }

.asset .shortcode:hover {
  color: #295D23; }

.asset-name {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 20px; }

.stock-exchange {
  font-size: 14px;
  position: absolute;
  right: 18px;
  top: 15px;
  color: rgba(0, 0, 0, 0.3); }

.asset-price {
  font-size: 36px;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
  float: left;
  margin-right: 4px; }

.asset .direction {
  font-size: 28px;
  float: left;
  position: relative;
  top: 20px;
  margin-right: 3px; }

.fa-caret-up {
  color: #3a8231;
  float: left; }

.fa-caret-down {
  color: #bf4040;
  float: left; }

.add-resource .fa {
  font-size: 40px;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: rgba(41, 93, 35, 0.3); }

.add-resource:hover .fa {
  color: rgba(41, 93, 35, 0.4); }

.asset-delta {
  font-size: 14px;
  float: left;
  position: relative;
  top: 6px;
  margin-right: 8px; }

.up {
  color: #3a8231; }

.down {
  color: #bf4040; }

.asset-original-delta-percent {
  font-size: 14px;
  float: right;
  position: relative;
  top: 6px;
  text-align: right; }

.asset-original-delta-percent .info {
  color: rgba(0, 0, 0, 0.3); }

.w100 {
  width: 100%; }

.top-row {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 6px; }

.top-row .shortcode {
  position: absolute;
  left: 17px;
  top: 15px;
  z-index: 20;
  color: rgba(0, 0, 0, 0.4); }

.top-row .shortcode.active {
  background: #cceac8;
  padding: 0 4px; }

.top-row .shortcode:hover {
  color: #3a8231; }

.right {
  float: right; }

.box .video {
  margin-top: 8px; }

.play-btn {
  position: absolute;
  top: 130px;
  margin: 0 auto;
  font-size: 30px;
  color: #fff;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%); }

.userpic {
  width: 24px;
  border-radius: 4px; }

.username {
  position: relative;
  top: 2px; }

.social-media-post .post-headline {
  margin-bottom: 4px; }

.modal {
  display: none;
  background: #e0e0e0;
  padding: 15px;
  width: 400px;
  max-height: 70%;
  overflow-y: auto;
  top: 20% !important;
  margin-top: 0 !important; }
  .modal input {
    padding: 0px 12px;
    font-size: 22px;
    margin: 4px 0 4px 0;
    color: rgba(0, 0, 0, 0.6); }
  .modal .action-btn {
    margin-top: 28px; }
  .modal .btn {
    background: #3a8231;
    padding: 10px 18px;
    color: rgba(255, 255, 255, 0.8); }
  .modal .btn i {
    margin-left: -4px; }

.modal-hl {
  color: #666;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 12px; }

.modal-hl i {
  position: relative;
  top: -1px;
  margin-right: 3px; }

.modal-close-btn {
  position: absolute;
  right: 15px;
  top: 12px;
  font-size: 20px; }

.remove-btn {
  position: absolute;
  right: 0px;
  top: 16px;
  color: #aaa;
  font-size: 20px; }

.modal-close-btn, .input-x .remove-btn {
  color: #aaa; }

.modal-close-btn:hover, .input-x .remove-btn:hover {
  color: #666; }

.backlink {
  margin-bottom: 20px;
  margin-left: 12px;
  display: block; }

.graph-container {
  background: #fff;
  padding: 15px 17px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); }

.subheadline {
  margin-left: 12px;
  margin-top: -10px;
  margin-bottom: 40px; }

.graph-container .headline {
  margin-left: 8px;
  margin-bottom: 10px;
  margin-top: 4px; }

.time-btns {
  margin-top: 12px;
  margin-left: 12px; }

.time-btns span {
  display: inline-block;
  margin-right: 2px;
  padding: 3px 8px;
  background: rgba(0, 0, 0, 0.2); }

.company-container {
  margin-right: 20px; }

.company-container, .more-info-container {
  width: 470px;
  float: left;
  background: #fff;
  padding: 15px 17px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  height: 300px; }

.blindtext {
  margin-top: 10px; }

.slidein {
  display: none; }

.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.logo-big {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.logo-claim {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  opacity: 0.4; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) { }

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) { }

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /*
     * Don't show links for images, or javascript/internal links
     */
  @page {
    margin: 0.5cm; }

  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */